div.content {
  padding: 50px;
  width: 100%;
  max-width: 600px;
}

.content .form-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.content .form-group label {
  font-weight: bold;
  font-size: 18px;
  color: #313131;
}

.content .form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #555;
  background-color: transparent;
}

.content .form-group input:focus {
  color: #FF4C00;
}

.content form button {
  cursor: pointer;
  border: none;
  background-color: #313131;
  color: #f2f2f2;
  font-size: 18px;
  padding: 5px 8px;
  width: 100%;
  margin-top: 15px;
}

.content form button:hover {
  background-color: #525252;
}